body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "bootstrap/dist/css/bootstrap.min.css";
@import "./assets/styles/index.css";
@import "./assets/styles/loading.scss";
@import "react-toastify/dist/ReactToastify.css";
@import "react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "@iot-app-kit/components/styles.css";

/* @import "@iot-app-kit/components/styles.css"; */
